body {
  margin: 0;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 48px 80px;
  background-color: #1f2937;
}

.header h1 {
  margin: 0;
  font-size: 24px;
  color: #f9faf8;
}

.header ul {
  display: flex;
  list-style: none;
  padding: 0;
  margin: 0;
  gap: 48px;
  color: #e5e7eb;
  font-size: 18px;
}